<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-6">
        <h2>{{ 'WELCOME' | translate }}</h2>
        <small>{{ 'MESSAGEINFO' | translate }}</small>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    09:00 pm
                                </span>
                <span class="label label-success">1</span> Zonas de alto riesgo de incendios
            </li>
            <li class="list-group-item">
                                <span class="pull-right">
                                    10:16 am
                                </span>
                <span class="label label-info">2</span> Accesos a Minusvalidos Alicante
            </li>
            <li class="list-group-item">
                                <span class="pull-right">
                                    08:22 pm
                                </span>
                <span class="label label-primary">3</span> Lugar con riesgo de robo
            </li>
            <li class="list-group-item">
                <span class="label label-default">4</span><small> . . .</small>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
      <!--<div class="ibox-content">
          <div class="flot-chart">
              <div flot class="flot-chart-content" dataset="charts.flotChartData" options="charts.flotLineOptions"></div>
          </div>
      </div>-->

        <div class="flot-chart dashboard-chart" ng-controller="flotChartCtrl as chart">
            <div flot class="flot-chart-content" dataset="chart.flotChartData" options="chart.flotLineOptions"></div>
        </div>
        <div class="row text-left">
            <div class="col-xs-4">
                <div class=" m-l-md">
                    <span class="h4 font-bold m-t block">188</span>
                    <small class="text-muted m-b block">Visitas (Febrero)</small>
                </div>
            </div>
            <div class="col-xs-4">
                <span class="h4 font-bold m-t block">23</span>
                <small class="text-muted m-b block">Ediciones (Febrero)</small>
            </div>
        </div>
    </div>

</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content">
<div class="row">
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><i class="fa fa-bell"></i> Notificaciones</h5>

        </div>
        <div class="ibox-content">

            <div>
                <div class="feed-activity-list">

                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/profile.jpg">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">hace 5m</small>
                            <strong>Monica Rato</strong> hizo cambios en <strong>"Mapa Bullynig España"</strong>. <br>
                            <small class="text-muted">Hoy 12:60 pm - 27.02.2016</small>

                        </div>
                    </div>

                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a2.jpg">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">hace 2h</small>
                            <strong>Manolo Perez</strong> publico un mensaje en <strong>"Lugar con riesgo de robo"</strong>. <br>
                            <small class="text-muted">Hoy 10:10 pm - 27.02.2016</small>
                            <div class="well">
                                Me parece un mapa muy interesante, para gente que no se mueve mucho por otras ciudades. Mirare el Mapa
                                cuando haga turismo por alguna ciudad. Muchas Gracia.
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                            </div>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a ui-sref="profile" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a3.jpg">
                        </a>

                        <div class="media-body ">
                            <small class="pull-right">hace 2h</small>
                            <strong>Maria José</strong> hizo cambios en <strong>"Mapa Bullynig España"</strong>. <br>
                            <small class="text-muted">Hace 2 días a las 8:30am</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-8">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Mis Mapas</h5>
            <div class="ibox-tools">
                <a href="http://localhost:8080/#/app/basic_form" class="btn btn-primary btn-xs">Crear nuevo proyecto</a>
            </div>
        </div>
        <div class="ibox-content">

            <div>
                <div class="feed-activity-list">

                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">5m ago</small>
                            <strong> Zonas de alto riesgo de incendios </strong><br>
                            <small class="text-muted">Creado 5:60 pm - 12.01.2016</small>

                        </div>
                    </div>
                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong> Accesos a Minusvalidos Alicante </strong><br>
                            <small class="text-muted">Creado 2:10 pm - 10.01.2014</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong> Lugar con riesgo de robo </strong><br>
                            <small class="text-muted">Creado 2:10 pm - 18.01.2016</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">

            <h5><i class="fa fa-heart"></i>  Favoritos</h5>
        </div>
        <div class="ibox-content">

            <div>
                <div class="feed-activity-list">

                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">5m ago</small>
                            <strong> Mapa Bullynig España </strong><br>
                            <small class="text-muted">Creado 5:60 pm - 12.01.2016</small>

                        </div>
                    </div>
                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong> Sensación termica en la Aulas de la Universidad de Alicante </strong><br>
                            <small class="text-muted">Creado 2:10 pm - 10.01.2014</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong> Rutas senderismo MurciaAventuras.com </strong><br>
                            <small class="text-muted">Creado 2:10 pm - 18.01.2016</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

</div>
</div>

</div>

</div>
