<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
          <h2>{{ 'NEWMAP' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'NEWMAP' | translate }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="get" class="form-horizontal" >
                        <div class="form-group"><label class="col-sm-3 control-label">{{ 'TITLE' | translate }}*</label>
                            <div class="col-sm-9"><input type="text" class="form-control"></div>
                        </div>

                        <div class="form-group">
                              <section id="map" ng-controller="GoogleMaps" style="margin-left:-5px; margin-right:-5px;">
                                  <div ui-map="myMap" ui-options="mapOptions" class="google-map" style=" height:400px"></div>
                              </section>
                        </div>

                        <div class="form-group"><label class="col-sm-3 control-label">{{ 'MARKERS' | translate }}* <br/>
                            <small class="text-navy">{{ 'PAINTDESCRIPTION' | translate }}</small>
                        </label>

                            <div class="col-sm-9">
                                <div><label> <input icheck type="radio" name="radioTest"
                                                                  ng-model="main.check8"> {{ 'LOCATIONFORHOT' | translate }} </label></div>
                                <div><label> <input icheck type="radio" name="radioTest"
                                                                  ng-model="main.checkFour"> {{ 'LOCATIONFORPUNTS' | translate }}  </label></div>
                                <div><label> <input icheck type="radio" name="radioTest"
                                                                  ng-model="main.checkFour"> {{ 'PATHSROUTES' | translate }}  </label></div>
                                <div><label> <input icheck type="radio" name="radioTest"
                                                                  ng-model="main.checkFour"> {{ 'ZONE' | translate }} </label>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-3 control-label">Editable
                            </label>
                            <div class="col-sm-9" style="padding-top:6px;">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="editable">
                                    <label class="onoffswitch-label" for="editable">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-3 control-label">{{ 'COMMENTS' | translate }}
                            </label>
                            <div class="col-sm-9" style="padding-top:6px;">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" checked="" class="onoffswitch-checkbox" id="comentarios">
                                    <label class="onoffswitch-label" for="comentarios">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-3 control-label">{{ 'POLL' | translate }}
                            </label>
                            <div class="col-sm-9" style="padding-top:6px;">
                                <div class="col-sm-9"><input placeholder="Pregunta...?" type="text" class="form-control"></div>
                                    <div class="col-sm-9" style="padding-top:5px;"><input placeholder="{{ 'OPTION' | translate }} 1" type="text" class="form-control"></div>
                                <div class="col-sm-9" style="padding-top:5px;"><input placeholder="{{ 'OPTION' | translate }} 2" type="text" class="form-control"></div>
                                <div class="col-sm-9" style="padding-top:15px;"><a> &#43; {{ 'ADDOPTION' | translate }} </a></div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-3 control-label"><i class="fa fa-tag"></i>{{ 'TAGS' | translate }}</label>
                            <div class="col-sm-9"><input type="text" class="form-control"> <span
                                    class="help-block m-b-none">{{ 'TAGSCOMMENT' | translate }}</span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">{{ 'CANCEL' | translate }}</button>
                                <button class="btn btn-primary" type="submit">{{ 'CREATE' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
