<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>{{ 'MAP' | translate }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="index.html">{{ 'HOME' | translate }}</a>
        </li>
        <li>
            <a>{{ 'MAPS' | translate }}</a>
        </li>
        <li class="active">
            <strong> Mapa Bullynig España </strong>
        </li>
    </ol>
</div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
              <div style="margin-top:-13px; margin-bottom:8px;">
                  <a class="btn btn-white"><i class="fa fa-camera"></i> Subir GeoFoto </a>
                  <a class="btn btn-white"><i class="fa fa-heart"></i> Añadir a Favoritos </a>
                  <a class="btn btn-white"><i class="fa fa-gears"></i> Configuración </a>
              </div>
                <div>
                    <!--
                    <section id="map" ng-controller="GoogleMaps">
                        <div ui-map="myMap" ui-options="mapOptions" class="google-map">

                        </div>
                    </section> -->
                  <div>
                    <ng-map zoom="16" center="38.359335, -0.485521" map-type-id="ROADMAP" style="height: 450px">
                        <info-window id="bar" position="38.358680, -0.486622" center="38.358680, -0.486622">
                            <div ng-non-bindable="">
                                Colegio: Sagrada Familia Alicante<br/>
                                <b>¿Has sufrido acoso escolar en este colegio?</b><br/>
                                <center>
                                <a href="" class="btn btn-white btn-sm"><i class="fa fa-meh-o"></i> SI </a>
                                <a href="" class="btn btn-white btn-sm"><i class="fa fa-smile-o"></i> NO </a>
                                </center>
                            </div>
                        </info-window>

                        <shape name="circle" stroke-color='#000000' stroke-weight="0"
                               center="38.358680, -0.486622" radius="20" position="38.358680, -0.486622"
                               fill-color="#000000" fill-opacity="0.01"  on-click="map.showInfoWindow('bar')">
                        </shape>

                        <heatmap-layer id="foo" data="acoso"></heatmap>
                            <heatmap-layer id="doo" data="nocoso"></heatmap>
                    </ng-map>
                    <!--
                   <map class="angular-google-map-container" zoom="16" center="38.384693, -0.513232" map-type-id="ROADMAP">
                   </map> -->
                   </div>

                   <div class="row" style="padding-top:10px;">
                   <div class="col-lg-4">

                     <div class="ibox float-e-margins" style="margin-bottom:5px;">
                         <div class="ibox-title">
                             <h5>Grafica de votos</h5>
                         </div>
                         <div class="ibox-content">
                               <div class="flot-chart" ng-controller="flotChartCtrl as charts">
                                   <div flot class="flot-chart-content" dataset="charts.flotPieData" options="charts.flotPieOptions"></div>
                               </div>
                         </div>
                     </div>

                       <div class="ibox float-e-margins">
                           <div class="ibox-title">
                               <h5>Encuesta</h5>
                           </div>
                           <div class="ibox-content">
                               <div class="feed-activity-list">
                                   <div class="feed-element">
                                       <div class="media-body ">
                                           <strong>¿Alguna vez has sufrido bullynig?</strong></p>

                                           <form method="get" class="form-horizontal" >
                                               <div class="col-sm-14" style="padding-left:3px;">
                                                   <div><label> <input icheck type="radio" name="radioTest"
                                                                                     ng-model="main.checkFour"> No, nunca. </label></div>
                                                   <div><label> <input icheck type="radio" name="radioTest"
                                                                                     ng-model="main.checkFour"> En alguna ocasión.  </label></div>
                                                   <div><label> <input icheck type="radio" name="radioTest"
                                                                                     ng-model="main.checkFour"> Frecuentemente. </label></div>
                                                   <div><label> <input icheck type="radio" name="radioTest"
                                                                                     ng-model="main.checkFour"> Sufro bullyning constantemente.  </label>
                                                   </div>
                                               </div>
                                            </from>

                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                   </div>
                   <div class="col-lg-8">
                       <div class="ibox float-e-margins" style="margin-bottom:5px;">
                           <div class="ibox-title">
                              <a class="btn btn-primary" style="margin-right:10px;"><i class="fa fa-location-arrow"></i> Añadir Ubicación Actual </a>
                              <span class="text-navy">Ó haz CLICK sobre el mapa para añadir una cordenada.</span>
                           </div>
                       </div>
                       <div class="ibox float-e-margins">
                           <div class="ibox-title">
                               <h5>Comentarios</h5>
                           </div>
                           <div class="ibox-content">
                              <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Escribe tu comentario...">
                              <button class="btn btn-primary" type="submit">{{ 'Publicar' | translate }}</button>
                           </div>
                           <div class="ibox-content">

                               <div>
                                   <div class="feed-activity-list">

                                     <div class="feed-element">
                                         <div class="media-body ">
                                             <small class="pull-right">hace 1h</small>
                                             Gracias Manolo :D<br>
                                             <small class="text-muted">Creado a las 13:43 pm - 27.02.2016 por <strong>Antonio Saez</strong>.</small>

                                         </div>
                                     </div>
                                       <div class="feed-element">
                                           <div class="media-body ">
                                               <small class="pull-right">hace 2h</small>
                                               En la universidad de alicante no hay novatadas. Tranquilo ;)<br>
                                               <small class="text-muted">Creado a las 13:10 pm - 27.02.2016 por <strong>Manolo Perez</strong>.</small>

                                           </div>
                                       </div>
                                       <div class="feed-element">
                                           <div class="media-body ">
                                               <small class="pull-right">hace 3d</small>
                                               Alguien sabe si en la universidad de alicante hacen novatadas?<br>
                                               <small class="text-muted">Creado a las 12:43 pm - 24.02.2016 por <strong>Antonio Saez</strong>.</small>

                                           </div>
                                       </div>
                                       <div class="feed-element">
                                           <div class="media-body ">
                                               <small class="pull-right">hace 4d</small>
                                               Me ayudo para saber en que colegio meter a mi hijo. Gracias<br>
                                               <small class="text-muted">Creado a las 18:40 pm - 23.02.2016 por <strong>Mirian Lugo</strong>.</small>

                                           </div>
                                       </div>
                                   </div>
                               </div>

                            </div>
                         </div>
                     </div>
                  </div>



               </div>
           </div>
       </div>
   </div>
</div>
