<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>{{ 'MAP' | translate }}</h2>
      <ol class="breadcrumb">
          <li>
              <a href="index.html">{{ 'HOME' | translate }}</a>
          </li>
          <li>
              <a>{{ 'MAPS' | translate }}</a>
          </li>
          <li class="active">
              <strong> Sensación termica en la Aulas de la Universidad de Alicante </strong>
          </li>
      </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">

                <div style="margin-top:-13px; margin-bottom:8px;">
                    <a class="btn btn-white"><i class="fa fa-camera"></i> Subir GeoFoto </a>
                    <a class="btn btn-white"><i class="fa fa-heart"></i> Añadir a Favoritos </a>
                    <a class="btn btn-white"><i class="fa fa-gears"></i> Configuración </a>
                </div>
                <div>

                    <ng-map zoom="18" center="38.384295, -0.510747" style="height: 400px"> <!--on-click="vm.setCenter(event)" tilt="0">
                        //<marker position="[40.79, -74.20]" on-click="vm.foo(2,3)"></marker>-->
                        <info-window id="aula" position="38.383761, -0.510542" center="38.358680, -0.486622">
                            <div ng-non-bindable="">
                                Aula A0/D27<br/>
                                <b>¿Qué sensacion termica tienes en el aula?</b><br/>
                                <center>
                                    <a href="" class="btn btn-primary btn-sm"> Frío </a>
                                    <a href="" class="btn btn-danger btn-sm"> Calor </a>
                                </center>
                            </div>
                        </info-window>
                        <shape name="circle" stroke-color='#FF0000' stroke-weight="3"
                               center="38.383761, -0.510542" radius="2" on-click="map.showInfoWindow('aula')"
                               draggable="false">

                        </shape>
                        <shape name="circle" stroke-color='#FF0000' stroke-weight="5"
                               center="38.383785, -0.510438" radius="3"
                               draggable="false">

                        </shape>
                        <shape name="circle" stroke-color='#FF0000' stroke-weight="5"
                               center="38.383837, -0.510346" radius="3"
                               draggable="false">

                        </shape>
                        <shape name="circle" stroke-color='#FF0000' stroke-weight="5"
                               center="38.383886, -0.510254" radius="2"
                               draggable="false">

                        </shape>

                        <shape name="circle" stroke-color='#0000FF' stroke-weight="5"
                               center="38.384014, -0.510111" radius="2"
                               draggable="true">
                        </shape>
                        <shape name="circle" stroke-color='#0000FF' stroke-weight="5"
                               center="38.384083, -0.510068" radius="2"
                               draggable="true">
                        </shape>

                        <shape name="circle" stroke-color='#0000FF' stroke-weight="5"
                               center="38.384161, -0.510036" radius="2"
                               draggable="true">
                        </shape>

                        <shape name="circle" stroke-color='#0000FF' stroke-weight="5"
                               center="38.384245, -0.510008" radius="2"
                               draggable="true">
                        </shape>

                    </ng-map>
               </div>



               <div class="row" style="padding-top:10px;">
               <div class="col-lg-4">

                 <div class="ibox float-e-margins" style="margin-bottom:5px;">
                     <div class="ibox-title">
                         <h5>Grafica de votos</h5>
                     </div>
                     <div class="ibox-content">
                           Todavía no ha votado nadie...
                     </div>
                 </div>

                   <div class="ibox float-e-margins">
                       <div class="ibox-title">
                           <h5>Encuesta</h5>
                       </div>
                       <div class="ibox-content">
                           <div class="feed-activity-list">
                               <div class="feed-element">
                                   <div class="media-body ">
                                       <strong>¿Que piensas del aire acondicionado de tu aula?</strong></p>

                                       <form method="get" class="form-horizontal" >
                                           <div class="col-sm-14" style="padding-left:3px;">
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Estan bien. </label></div>
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Podrian ponerlo más. </label></div>
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Es horrible. </label></div>
                                           </div>
                                        </from>

                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
               <div class="col-lg-8">
                 <div class="ibox float-e-margins" style="margin-bottom:5px;">
                     <div class="ibox-title">
                        <a class="btn btn-primary" style="margin-right:10px;"><i class="fa fa-location-arrow"></i> Añadir Ubicación Actual </a>
                        <span class="text-navy">Ó haz CLICK sobre el mapa para añadir una cordenada.</span>
                     </div>
                 </div>
                   <div class="ibox float-e-margins">
                       <div class="ibox-title">
                           <h5>Comentarios</h5>
                       </div>
                       <div class="ibox-content">
                          <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Escribe tu comentario...">
                          <button class="btn btn-primary" type="submit">{{ 'Publicar' | translate }}</button>
                       </div>
                       <div class="ibox-content">

                           <div>
                               <div class="feed-activity-list">

                                   <div>
                                           <i>Sé el primero en dejar tu comentario.</i>
                                   </div>
                               </div>
                           </div>

                        </div>
                     </div>
                 </div>
              </div>



           </div>
       </div>
   </div>
</div>
