<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>{{ 'MAP' | translate }}</h2>
      <ol class="breadcrumb">
          <li>
              <a href="index.html">{{ 'HOME' | translate }}</a>
          </li>
          <li>
              <a>{{ 'MAPS' | translate }}</a>
          </li>
          <li class="active">
              <strong> Zonas de alto riesgo de incendios </strong>
          </li>
      </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">

                <div style="margin-top:-13px; margin-bottom:8px;">
                    <a class="btn btn-white"><i class="fa fa-camera"></i> Subir GeoFoto </a>
                    <a class="btn btn-white"><i class="fa fa-heart"></i> Añadir a Favoritos </a>
                    <a class="btn btn-white"><i class="fa fa-gears"></i> Configuración </a>
                </div>
                <div>
                    <!--
                    <section id="map" ng-controller="GoogleMaps">
                        <div ui-map="myMap" ui-options="mapOptions" class="google-map">

                        </div>
                    </section> -->
                    <ng-map zoom="12" center="38.497514, -0.695797" map-type-id="SATELLITE" style="height: 400px">
                        <heatmap-layer id="foo" data="incendio"></heatmap>
                    </ng-map>
                    <!--
                   <map class="angular-google-map-container" zoom="16" center="38.384693, -0.513232" map-type-id="ROADMAP">
                   </map> -->
               </div>


               <div class="row" style="padding-top:10px;">
               <div class="col-lg-4">

                 <div class="ibox float-e-margins" style="margin-bottom:5px;">
                     <div class="ibox-title">
                         <h5>Grafica de votos</h5>
                     </div>
                     <div class="ibox-content">
                           Todavía no ha votado nadie...
                     </div>
                 </div>

                   <div class="ibox float-e-margins">
                       <div class="ibox-title">
                           <h5>Encuesta</h5>
                       </div>
                       <div class="ibox-content">
                           <div class="feed-activity-list">
                               <div class="feed-element">
                                   <div class="media-body ">
                                       <strong>¿Que piensas del cuidado de los bosques de tu zona?</strong></p>

                                       <form method="get" class="form-horizontal" >
                                           <div class="col-sm-14" style="padding-left:3px;">
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Estan bien cuidados. </label></div>
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Estan un poco descuidados.  </label></div>
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Es facíl de que pueda ocurrir un incendio. </label></div>
                                           </div>
                                        </from>

                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
               <div class="col-lg-8">
                 <div class="ibox float-e-margins" style="margin-bottom:5px;">
                     <div class="ibox-title">
                        <a class="btn btn-primary" style="margin-right:10px;"><i class="fa fa-location-arrow"></i> Añadir Ubicación Actual </a>
                        <span class="text-navy">Ó haz CLICK sobre el mapa para añadir una cordenada.</span>
                     </div>
                 </div>
                   <div class="ibox float-e-margins">
                       <div class="ibox-title">
                           <h5>Comentarios</h5>
                       </div>
                       <div class="ibox-content">
                          <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Escribe tu comentario...">
                          <button class="btn btn-primary" type="submit">{{ 'Publicar' | translate }}</button>
                       </div>
                       <div class="ibox-content">

                           <div>
                               <div class="feed-activity-list">

                                   <div>
                                           <i>Sé el primero en dejar tu comentario.</i>
                                   </div>
                               </div>
                           </div>

                        </div>
                     </div>
                 </div>
              </div>


           </div>
       </div>
   </div>
</div>
