<div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-9">
        <h2>{{ 'MAP' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'HOME' | translate }}</a>
            </li>
            <li>
                <a>{{ 'MAPS' | translate }}</a>
            </li>
            <li class="active">
                <strong> Lugar con riesgo de robo </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
              <div style="margin-top:-13px; margin-bottom:8px;">
                  <a class="btn btn-white"><i class="fa fa-camera"></i> Subir GeoFoto </a>
                  <a class="btn btn-white"><i class="fa fa-heart"></i> Añadir a Favoritos </a>
                  <a class="btn btn-white"><i class="fa fa-gears"></i> Configuración </a>
              </div>
                <div>
                    <!--
                    <section id="map" ng-controller="GoogleMaps">
                        <div ui-map="myMap" ui-options="mapOptions" class="google-map">

                        </div>
                    </section> -->
                    <ng-map onclick="alert('Añadida Corrdenada X:37.774546, Y:-122.433523. ')" zoom="13" center="37.774546, -122.433523" map-type-id="SATELLITE" style="height: 400px">
                        <heatmap-layer id="foo" data="taxiData"></heatmap>
                    </ng-map>
                    <!--
                   <map class="angular-google-map-container" zoom="16" center="38.384693, -0.513232" map-type-id="ROADMAP">
                   </map> -->
               </div>



               <div class="row" style="padding-top:10px;">
               <div class="col-lg-4">

                 <div class="ibox float-e-margins" style="margin-bottom:5px;">
                     <div class="ibox-title">
                         <h5>Grafica de votos</h5>
                     </div>
                     <div class="ibox-content">
                           <div class="flot-chart" ng-controller="flotChartCtrl as charts">
                               <div flot class="flot-chart-content" dataset="charts.flotPieData" options="charts.flotPieOptions"></div>
                           </div>
                     </div>
                 </div>

                   <div class="ibox float-e-margins">
                       <div class="ibox-title">
                           <h5>Encuesta</h5>
                       </div>
                       <div class="ibox-content">
                           <div class="feed-activity-list">
                               <div class="feed-element">
                                   <div class="media-body ">
                                       <strong>¿Dinos tu opinión sobre la delincuencia en las grandes Ciudades?</strong></p>

                                       <form method="get" class="form-horizontal" >
                                           <div class="col-sm-14" style="padding-left:3px;">
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Yo nunca he tenido problemas. </label></div>
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Es baja el indice de robo.  </label></div>
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> De vez en cuando veo algun robo por mi barrio. </label></div>
                                               <div><label> <input icheck type="radio" name="radioTest"
                                                                                 ng-model="main.checkFour"> Es Alto el indice de robo. </label>
                                               </div>
                                           </div>
                                        </from>

                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>
               <div class="col-lg-8">
                   <div class="ibox float-e-margins" style="margin-bottom:5px;">
                       <div class="ibox-title">
                          <a class="btn btn-primary" style="margin-right:10px;"><i class="fa fa-location-arrow"></i> Añadir Ubicación Actual </a>
                          <span class="text-navy">Ó haz CLICK sobre el mapa para añadir una cordenada.</span>
                       </div>
                   </div>
                   <div class="ibox float-e-margins">
                       <div class="ibox-title">
                           <h5>Comentarios</h5>
                       </div>
                       <div class="ibox-content">
                          <input type="text" class="form-control" style="margin-bottom:10px;" placeholder="Escribe tu comentario...">
                          <button class="btn btn-primary" type="submit">{{ 'Publicar' | translate }}</button>
                       </div>
                       <div class="ibox-content">

                           <div>
                               <div class="feed-activity-list">

                                   <div class="feed-element">
                                       <div class="media-body ">
                                           <small class="pull-right">hace 2h</small>
                                           Me parece un mapa muy interesante, para gente que no se mueve mucho por otras ciudades. Mirare el Mapa cuando haga turismo por alguna ciudad. Muchas Gracia.<br>
                                           <small class="text-muted">Creado a las 10:10 pm - 27.02.2016 por <strong>Manolo Perez</strong>.</small>

                                       </div>
                                   </div>
                                   <div class="feed-element">
                                       <div class="media-body ">
                                           <small class="pull-right">hace 3d</small>
                                           Fantastico mapa. Muy util para ver las zonas conflictivas del casco urbano.<br>
                                           <small class="text-muted">Creado a las 12:43 pm - 24.02.2016 por <strong>Antonio Saez</strong>.</small>

                                       </div>
                                   </div>
                                   <div class="feed-element">
                                       <div class="media-body ">
                                           <small class="pull-right">hace 4d</small>
                                           Me gusta!!! :)<br>
                                           <small class="text-muted">Creado a las 18:40 pm - 23.02.2016 por <strong>Mirian Lugo</strong>.</small>

                                       </div>
                                   </div>
                               </div>
                           </div>

                        </div>
                     </div>
                 </div>
              </div>

           </div>
       </div>
   </div>
</div>
