<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Project list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Mapas</a>
            </li>
            <li class="active">
                <strong>Lista de Mapas</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

<div class="ibox">
<div class="ibox-title">
    <h5>Todos los proyectos de MapReference</h5>

    <div class="ibox-tools">
        <a href="http://localhost:8080/#/app/basic_form" class="btn btn-primary btn-xs">Crear nuevo proyecto</a>
    </div>
</div>
<div class="ibox-content">
<div class="row m-b-sm m-t-sm">
    <div class="col-md-1">
        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
    <div class="col-md-11">
        <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
    </div>
</div>

<div class="project-list">

<table class="table table-hover">
<tbody>
<tr>
    <td class="project-status">
        <span class="label label-primary">Participativo</span>
        <span class="label label-warning">Editable</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Mapa Bullynig España</a>
        <br/>
        <small>Creado 26.02.2016</small>
    </td>
    <td class="project-completion">
        <a ui-sref="project_detail">Tipo: Ubicación</a>
        <br/>
        <small>Estilo: Mancha de Calor</small>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="http://localhost:8080/#/app/acoso" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary">Participativo</span>
        <span class="label label-warning">Editable</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Zonas de alto riesgo de incendios</a>
        <br/>
        <small>Creado 26.02.2016</small>
    </td>
    <td class="project-completion">
        <a ui-sref="project_detail">Tipo: Ubicación, GeoFoto</a>
        <br/>
        <small>Mancha de Calor</small>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="http://localhost:8080/#/app/riesgoDeIncendio" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary">Participativo</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Sensación termica en la Aulas de la Universidad de Alicante</a>
        <br/>
        <small>Created 10.08.2014</small>
    </td>
    <td class="project-completion">
        <a ui-sref="project_detail">Tipo: Ubicación, Zona</a>
        <br/>
        <small>Estilo: Mancha de Calor</small>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a6.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="http://localhost:8080/#/app/a2" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary">Participativo</span>
        <span class="label label-warning">Editable</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Accesos a Minusvalidos Alicante</a>
        <br/>
        <small>Created 22.07.2014</small>
    </td>
    <td class="project-completion">
        <a ui-sref="project_detail">Tipo: Ubicación</a>
        <br/>
        <small>Estilo: Puntos</small>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
    </td>
</tr>
<tr>
    <td class="project-status">
        <span class="label label-primary">Participativo</span>
        <span class="label label-warning">Editable</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Lugar con riesgo de robo</a>
        <br/>
        <small>Creado 26.02.2013</small>
    </td>
    <td class="project-completion">
        <a ui-sref="project_detail">Tipo: Ubicación</a>
        <br/>
        <small>Mancha de Calor</small>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="http://localhost:8080/#/app/riesgoDeRobo" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
    </td>
</tr>

<tr>
    <td class="project-status">
        <span class="label label-default">Cerrado</span>
    </td>
    <td class="project-title">
        <a ui-sref="project_detail">Rutas senderismo MurciaAventuras.com</a>
        <br/>
        <small>Created 11.08.2014</small>
    </td>
    <td class="project-completion">
        <a ui-sref="project_detail">Tipo: Ruta</a>
        <br/>
        <small>Estilo: Lineal</small>
    </td>
    <td class="project-people">
        <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a6.jpg"></a>
        <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
    </td>
    <td class="project-actions">
        <a href="" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> Ver </a>
    </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
