<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                  <img alt="image" style="width:50px ;height:50px; margin-top:-20px; margin-bottom:-20px;" src="favicon.ico">
                    <a ui-sref="dashboards.dashboard_1">
                        <span class="nav-label">MapReference</span>
                    </a>
                </div>
                <div class="logo-element">
                    <a ui-sref="dashboards.dashboard_1">MR</a>
                </div>
            </li>
            <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_1"><i class="fa fa-home"></i> <span class="nav-label">{{ 'HOME' | translate }}</span> </a></li>
            <li ui-sref-active="active"><a ui-sref="app.projects"><i class="fa fa-map-marker"></i> <span class="nav-label">{{ 'MAPS' | translate }}</span> </a></li>
        </ul>

    </div>
</nav>
